<footer class="footer gf-footer">
  <div class="gf-footer-inner">
    <div class="gf-footer-col">
      <strong>Eclipse GlassFish</strong>
      <ul>
        <li><a href="https://glassfish.org/download">Download</a></li>
        <li><a href="https://glassfish.org/documentation">Documentation</a></li>
        <li><a href="https://glassfish.org/get-involved">Get Involved</a></li>
        <li><a href="https://github.com/eclipse-ee4j/glassfish" target="_blank" rel="noopener">Source Code</a></li>
      </ul>
    </div>
    <div class="gf-footer-col">
      <strong>Eclipse Foundation</strong>
      <ul>
        <li><a href="https://www.eclipse.org/legal/privacy.php" target="_blank" rel="noopener">Privacy Policy</a></li>
        <li><a href="https://www.eclipse.org/legal/termsofuse.php" target="_blank" rel="noopener">Terms of Use</a></li>
        <li><a href="https://www.eclipse.org/legal/copyright.php" target="_blank" rel="noopener">Copyright</a></li>
        <li><a href="https://www.eclipse.org/legal/epl-2.0/" target="_blank" rel="noopener">License (EPL-2.0)</a></li>
      </ul>
    </div>
  </div>
  <div class="gf-footer-bottom">
    <p>Copyright &copy; 2025 Contributors to the Eclipse Foundation. Licensed under the <a href="https://www.eclipse.org/legal/epl-2.0/">Eclipse Public License 2.0</a>.</p>
    <p>Built with <a href="https://antora.org" target="_blank" rel="noopener">Antora</a>.</p>
  </div>
</footer>
