<header class="header gf-header">
  <nav class="navbar gf-navbar">
    <div class="navbar-brand">
      <a class="navbar-item gf-logo-link" href="https://glassfish.org">
        <img src="{{{uiRootPath}}}/img/glassfish-logo.svg" alt="Eclipse GlassFish" class="gf-logo">
      </a>
      <a class="navbar-item gf-site-title" href="{{{siteRootPath}}}/glassfish/8.0-SNAPSHOT/index.html">
        Documentation
      </a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search docs&#8230;"{{#if page.home}} autofocus{{/if}}>
          {{!-- Hidden checked checkbox activates the built-in facet filter for the current version.
               search-ui.js reads: #search-field input[type=checkbox][data-facet-filter] --}}
          <input type="checkbox" data-facet-filter="version:{{page.version}}" checked style="display:none" aria-hidden="true">
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://glassfish.org/download">Download</a>
        <a class="navbar-item" href="https://glassfish.org/documentation">All Docs</a>
        <a class="navbar-item" href="https://github.com/eclipse-ee4j/glassfish" target="_blank" rel="noopener">GitHub</a>
        <a class="navbar-item" href="https://glassfish.org/get-involved">Get Involved</a>
      </div>
    </div>
  </nav>
</header>
