<header class="header gf-header">
  <nav class="navbar gf-navbar">
    <div class="navbar-brand">
      <a class="navbar-item gf-omnifish-brand" href="https://omnifish.ee/glassfish-support/" target="_blank" rel="noopener noreferrer">
        <img src="https://omnifish.ee/wp-content/uploads/2024/12/omnifish-logo-turquise-transparent-bigger-text-400px-300x207.png" alt="OmniFish" class="gf-brand-bridge-logo">
        <span class="gf-brand-bridge-copy">
          <span class="gf-brand-bridge-name">OmniFish</span>
          <span class="gf-brand-bridge-tagline">Modern Jakarta EE runtimes</span>
        </span>
      </a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search docs&#8230;"{{#if page.home}} autofocus{{/if}}>
          {{!-- Hidden checked checkbox activates the built-in facet filter for the current version.
               search-ui.js reads: #search-field input[type=checkbox][data-facet-filter] --}}
          <input type="checkbox" data-facet-filter="version:{{page.version}}" checked style="display:none" aria-hidden="true">
        </div>
      </div>
      {{/if}}
      <div class="navbar-item gf-brand-bridge">
        <img src="{{{uiRootPath}}}/img/glassfish-logo.png" alt="Eclipse GlassFish" class="gf-logo">
        <span class="gf-site-title gf-bridge-title">Eclipse GlassFish Documentation</span>
      </div>
    </div>
  </nav>
</header>
